.container {
  height: 600px;
  width:460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  div {
    margin-left: 100px;
  }
  .headings {
    p:nth-child(1) {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    p:nth-child(2) {
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 20px;
    }
    p:nth-child(3) {
      margin-bottom: 0;
      color: grey;
    }
    p:nth-child(4) {
      margin-bottom: 30px;
      color: grey;
    }
  }
  .new-message-button {
    button {
      font-size: 20px;
      width: 200px;
      padding: 20px;
      outline: none;
      border: none;
      background-color: rgb(29, 155, 240);
      color: white;
      font-weight: 500;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    div {
      margin-left: 10px;
    }
    .headings {
      p:nth-child(1) {
        font-size: 25px;
      }
      p:nth-child(2) {
        font-size: 25px;
      }
    }
    .new-message-button {
      button {
        font-size: 15px;
        width: 200px;
      }
    }
  }
}
