<div class="container-fluid ">
    <div class="row">
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648555424/ipl_inogxd.jpg"
                class="d-block w-100" alt="...">
            <div class="carousel-caption text-start d-none d-md-block">
                <h1 style="font-weight: 900">#IPL</h1>
            </div>
        </div>
    </div>
    <div class="row ps">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>Cricket · LIVE</small>
                        <p class="wh-p">Chennai Super Kings: Here are all the latest updates from the Yellove Army 🎉</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648555527/csk_kbsl2l.jpg"
                            class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>Cricket · LIVE</small>
                        <p class="wh-p">Mumbai Indians: Here are all the latest updates from the Paltans 🔥</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648555610/mi_vweyvt.jpg"
                            class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>Indian Premier League · LIVE</small>
                        <p class="wh-p">Here’s a look at the most expensive players in IPL history</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648555673/kohli_tuepnx.png"
                            class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>Indian Premier League · LIVE</small>
                        <p class="wh-p">The most memorable moments in IPL history</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648555628/iplimg_yjulge.jpg"
                            class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                    <small>Indian Premier League · LIVE</small>
                    <p class="wh-p">#ViratKohli</p>
                    <small>4,323 Tweets</small>
                    </div>
                    <div class="col-3">
                       
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
