<div class="container-fluid ">

    <div class="row ps">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>1 · Trending</small>
                        <p class="wh-p">Will Smith</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648553469/will-smith-slap_i9gkgi.jpg"
                            class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>2 · Entertainment · Trending</small>
                        <p class="wh-p">#Oscars 🎭</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648553938/oscars_f1aycg.jpg"
                            class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>3 · Sports · Trending</small>
                        <p class="wh-p">#LSGvsGT</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648554115/lsgvsgt_vh2szr.jpg"
                            class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>4 · Entertainment · Trending</small>
                        <p class="wh-p">King Richard</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648554338/king_wbcszg.jpg"
                            class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>6 · Entertainment · Trending</small>
                        <p class="wh-p">#WillAndChris</p>
                    </div>
                    <div class="col-3">
                        
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
