hr {
  color: rgb(119, 119, 119);
}
.container {
  .row {
    .col-md-12 {
      display: flex;
      align-items: center;
      input {
        padding: 7px;
        width: 100%;
        outline: none;
        border: 1px solid rgb(207, 207, 207);
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        &:focus {
          outline: 2px solid rgb(29, 155, 240);
          border: none;
        }
      }
      svg {
        margin-right: 10px;
        height: 40px;
        width: 40px;
        padding: 5px;
        &:hover {
          background-color: rgb(220, 241, 255);
          border-radius: 100%;
        }
      }
      .final {
        margin-right: 0;
        margin-left: 10px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    .row {
      .col-md-12 {
        padding-left: 3px;
        padding-right: 3px;
        svg {
          margin-right: 0;
        }
        .final {
          margin-right: 0;
          margin-left: 0px;
        }
      }
    }
  }
}
