.sidenav{
    position: fixed;
    display: flex;
    overflow: visible;
    flex-direction: column;
    margin-top: 15px;
    background-color: white;
    z-index: 10;
    justify-content: flex-start;
    align-items: flex-start;
    height:100%;
}
.iconsandname{
    width:100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
}

.icons{
    width:40%;
}
.navnames{
    width:55%;
}
.ii{
    height:52px;
    margin-bottom: 0.3px;
    width: 115px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.iconnames{
    height:52px;
    padding: 2px;
    margin-bottom: 0.3px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    
}

.iconnames:hover{
    cursor: pointer;
}
.newtweetname{
    margin-top: 15px;
}

.newtweetbutton{
    position: absolute;
    bottom:21%;
    left: 7%;
}

.tweetbutton{
    background-color: #1b9dee;
    padding: 10px 25px;
    width: 170px;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 30px;
    border: none;
    cursor: pointer;
}
.tweetbutton:hover{
    background-color: #0d89d6;
}
.twittercolor{
    color:#0d89d6;
}
.twittercolorbg:hover{
    background-color: #c3e4f8;
    border-radius: 30px;
}
.ico{
    margin-top: 3px;
}
.navicons{
    width:74px;
    padding-left: 11px;
    padding-right: 11px;
}
.twittericon{
    fill:#1da1f2;
}
.tweeticon{
 fill:white; 
}
.tweetcircle{
    margin-left: 9px;
    margin-top: 12px;
    width:55px;
    height:55px;
    padding:16px;
    background-color: #1da1f2;
    border-radius: 50%;
}
.navpadding{
    padding:14px;
}
.navpadding:hover{
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    cursor: pointer;
}
.sidenavname{
  display: flex;
  flex-direction: row;
}
.notification{
    position: relative;
    height: 55px;
    width:55px;
}
.h5{
    font-size: 15px;
    padding-top: 10px;
    font-weight:400;
    text-align:center; 
  vertical-align: middle;
  display: table-cell;     
}
.bolding{
    font-weight: 600;
}
.hoverbold:hover{
    font-weight: 600;
}
.nameprofile{
    font-size: 14px;
    
}
.username{
    position: absolute;
    bottom:0.3%;
    left: 40%;
}
.dots{
    height:24px;
    width: 24px;
    position: absolute;
    bottom:3%;
    left: 96%;
}
.usernames{
    font-size: 12px;
    color: #888888;
}
.profilename{
    margin-top:110px;

}

.bluedot{
    position: absolute;
    width:6px;
    height:6px;
    top:20%;
    left: 58%;
    background-color: #00acee;
    border-radius: 50%;
    padding: 0;
}
.twitterlogo:hover{
    border-radius: 50%;
    background-color: #c3e4f8;
    cursor: pointer;
}
.tweetcircle:hover{
    border-radius: 50%;
    background-color: #0d89d6;
    cursor: pointer;
}

.sidenavprofile{
    border-radius: 50%;
}
.sidenavprofilelg{
    border-radius: 50%;
    margin-left: 18px;
    margin-top: 80px;
}
.profilenav{
    width:53px;
    height:53px;
    padding: 6px;
    margin-left: 25%;
    margin-top: 122px;
}
.sidenavprofile:hover{
cursor: pointer;
outline: 10px solid rgb(212, 211, 211);
}

#accountpic{
    width:35px;
    height: 35px;
    border-radius: 50%;
}
.item-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#bluetick{
    width:20px;
    height:20px;
    align-self:center;
}
.profiledetail{
    align-items:flex-start;
}
.dropdown-css{
    width: 180px;
}
#name{
    margin: 3%;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
}
#username{
    margin: 3%;
    font-size: 12px;
    color:#888888;
    text-align: left;
}

.profilelogo {
    width: 50px;
    height: 50px;
}
.home{
    padding-top:1%;
  
    width: 100%;
    text-align:left;
    display:flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    background: rgb(255, 255, 255,0.9);
}
#toptweets{
    padding-top:1%;
    width:4%;
    height: 4%;
}
.bi {
    float: center;
}
#dropdown-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 4px;
    justify-content: center;
}
.tick{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    justify-content: center;
}