<div class="container-fluid ">
<div class="row">
<div class="carousel-item active">
    <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648548121/nothing-blk_xyzoem.jpg" class="d-block w-100" alt="...">
    <div class="carousel-caption text-start d-none d-md-block">
        <h2>#NothingEar1Black</h2>
        <p>SOUND OF CHANGE</p>
    </div>
    </div>
</div>
<div class="row ps">
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action wh-items">
            <div class="row">
                <div class="col-9">
                    <small>War in Ukraine · War</small>
                    <p class="wh-p">War in Ukraine continues as Russia strikes besieged city of Mariupol</p>
                </div>
                <div class="col-3">
                    <img src="https://pbs.twimg.com/semantic_core_img/1506592811986026500/wsJv_tHK?format=jpg&name=900x900"
                        class="img-fluid wh-image">
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action wh-items">
            <div class="row">
                <div class="col-9">
                    <small>Entertainment · Trending</small>
                    <p class="wh-p">Massive action feast - #KamalHaasan, #FahadhFaasil & #VijaySethupathi #Vikram by
                        #LokeshKanagaraj arrives on June 3💥</p>
                </div>
                <div class="col-3">
                    <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648657406/vikram_i5zahb.jpg"
                        class="img-fluid wh-image">
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action wh-items">
            <div class="row">
                <div class="col-9">
                    <small>India national news · News</small>
                    <p class="wh-p">Petrol price up by 80 paise a litre on eighth day of increase in fuel prices</p>
                </div>
                <div class="col-3">
                    <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648658225/petrol_e3c6ze.jpg"
                        class="img-fluid wh-image">
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action wh-items">
            <div class="row">
                <div class="col-9">
                    <small>Sports · Trending</small>
                    <p class="wh-p">#CSK Super Birthday to the powerhouse of entertainment! Have a great one, Parashakthi
                        Express! 💛</p>
                </div>
                <div class="col-3">
                    <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648658315/tahir_pujskb.jpg"
                        class="img-fluid wh-image">
                </div>
            </div>
        </a>
        <a href="#" class="list-group-item list-group-item-action wh-items">
            <div class="row">
                <div class="col-9">
                    <small>Entertainment · Trending </small>
                    <p class="wh-p">The trailer of Beast will release on April 2. Directed by Nelson Rajkumar, Vijay's Beast
                        is
                        all set to release on April 13.</p>
                </div>
                <div class="col-3">
                    <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648658425/beast_bflwnb.jpg"
                        class="img-fluid wh-image">
                </div>
            </div>
        </a>
        
        <a href="#" class="list-group-item list-group-item-action wh-items">
            <a href="" class="wh-link">Show More</a>
        </a>
    </div>
</div>
</div>



