<div class="container-fluid ">
    <div class="row">
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648551756/covid_t5p5jw.jpg"
                class="d-block w-100" alt="...">
            <div class="carousel-caption text-start d-none d-md-block">
                <h1>#WearMasks</h1>
                <p>Save Yourself & Your Family from Novel Coronavirus</p>
            </div>
        </div>
    </div>
    <div class="row ps">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>COVID-19 · LIVE</small>
                        <p class="wh-p">COVID-19 in India</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648551856/mask_krqpr1.jpg"
                            class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>COVID-19 · LIVE</small>
                        <p class="wh-p">COVID-19: Vaccine information for children in India</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648551945/covaxin_vzcvfg.jpg" class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>India national news · Last night</small>
                        <p class="wh-p">India resumes regular international flights after two years</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648552004/flight_y9sily.png"
                            class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                    <small>COVID-19 · LIVE</small>
                        <p class="wh-p">Experts say masks are safe and effective in helping prevent the spread of COVID-19</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648552002/mask-2_cdbl7m.png"
                            class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>The Wall Street Journal · March 24, 2022</small>
                        <p class="wh-p">Ukraine war spreads pain to poor countries still reeling from Covid-19</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648552161/war-pain_fritk6.jpg" class="img-fluid wh-image">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>