.profilelogo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.home{
    padding-top:1%;
  
    width: 100%;
    text-align:left;
    display:flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    background: rgb(255, 255, 255,0.9);
}
#toptweets{
    padding-top:1%;
    width:4%;
    height: 4%;
}
.newtweet {
    margin: auto;
    width: 100%;
    min-height: 100px;
    border-bottom-style: solid;
    border-bottom-width:1px;
    border-bottom-color: #fafafa;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 2%;
}
.modal{
    top: 1%;
    right:0;
    bottom:0;
    left:-13%;
    overflow:hidden;
}
.textinput {
    display: flex;
    align-items: center;
}

.textinput input[type=text] {
    display: inline;
    border: none;
    background-color: none;
    outline: 0;
    font-size: 18px;
    width: 100%;
    min-height: 50px;
    padding: 10px;
}

.imageinput {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    margin-left: 60px;
    border-radius: 20px;
    gap: 10px;
    padding: 10px;
}

.imageinput img, video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit:cover;
}

.info {
    font-size: medium;
    font-weight: 500;
    color: #00acee;
    padding-left: 60px;
    padding-bottom: 20px;
}

.submit {
    display: inline;
    margin-left: 50px;
}

.submit .icon{
    width: 40px;
    height: 40px;
    color: #00acee;
    padding: 10px;
}

.submit .icon:hover {
    border-radius: 60px;
    background-color: rgba(0, 173, 241, 0.1);
    padding: 0.5em 0.6em;
}

.tweet {
    float: right;
    background-color: #00acee;
    padding: 10px 25px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 30px;
}

.tweet:disabled {
    float: right;
    background-color: #00abee83;
    padding: 10px 25px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
    border-radius: 30px;
}
  
@media screen and (max-width: 1005px) {
    div.edit { display: none;}
    div.editicon { display: inline-block;}
}

@media screen and (max-width: 705px) {
    .graph, .calender { display: none;}
}

.image-upload>input {
    display: none;
}

.image-upload {
    display: inline;
}

.img_wrp {
    display: inline-block;
    position: relative;
}

.close {
    font-size: 15px;
    color: white;
    display: inline-block;
    border-radius: 60px;
    background-color: rgba(12, 7, 7, 0.6);
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

.edit {
    font-size: 15px;
    font-weight: 500;
    color: white;
    display: inline-block;
    border-radius: 30px;
    background-color: rgba(12, 7, 7, 0.6);
    box-shadow: 0 0 2px #888;
    padding: 8px 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

.editicon {
    font-size: 15px;
    color: white;
    display: none;
    border-radius: 60px;
    background-color: rgba(12, 7, 7, 0.6);
    box-shadow: 0 0 2px #888;
    padding: 0.5em 0.6em;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;   
    .home{
        width:100%;
    }
    .displaytweet{width:100%;}
}
