<div class="container-fluid ">
    <div class="row">
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648553938/oscars_f1aycg.jpg"
                class="d-block w-100" alt="...">
            <div class="carousel-caption text-start d-none d-md-block">
                <h1 style="font-weight: 900">#Oscars🎭</h1>
            </div>
        </div>
    </div>
    <div class="row ps">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>Entertainment · Trending</small>
                        <p class="wh-p">Will Smith</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648553469/will-smith-slap_i9gkgi.jpg"
                            class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>British Vogue · Yesterday</small>
                        <p class="wh-p">Welcome To The Latest Instalment Of We Are Not Worthy Of Zendaya</p>
                    </div>
                    <div class="col-3">
                        <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648556399/zendaya_ub0z87.jpg"
                            class="img-fluid wh-image">
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>Entertainment · Trending</small>
                        <p class="wh-p">#KGFChapter2</p>
                        <small>89.1K Tweets</small>
                    </div>
                    <div class="col-3">
                        
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>The Hollywood Reporter · This morning</small>
                        <p class="wh-p">Will Smith apologizes to Chris Rock after slapping him at the Oscars</p>
                    </div>
                    <div class="col-3">
                        
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>Tamil actors · Trending</small>
                        <p class="wh-p">#SuperDeluxe</p>
                        <small>1,323 Tweets</small>
                    </div>
                    <div class="col-3">

                    </div>
                </div>
            </a>
  
        </div>
    </div>
</div>

