$twitterColor: #00acee;

.container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    display: none;
  }

  .explore-nav {
    display: flex;
    align-items: center;
    .search {
      width: 90%;
    }
    .icon {
      margin-left: 30px;
      i {
        font-size: 25px;
      }
    }
  }

  .bg-light{
    opacity: 95%;
  }

  .sections {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    white-space: nowrap;
    div:hover {
      background-color: #ededed;
    }
    a {
      font-size: 1rem;
      text-decoration: none;
      color: grey;
      font-weight: 500;
    }
  }
}

.search-icon {
  border-radius: 20px;
  padding: 0.7rem;
  color: #1a8cd8;
  background-color: #f3f3f3;
  border: none;
}

.search-bar:focus::placeholder {
  color: #1a8cd8;
}

.search-bar {
  background-color: #f3f3f3;
  border: none;
  padding: 0.7rem;
  border-radius: 20px;
}

.input-group:focus-within {
  border: 0.5px solid #1a8cd8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.search-bar:focus {
  color: #1a8cd8;
  box-shadow: none;
  background-color: #f3f3f3;
}

.classForyou,
.classCovid,
.classTrending,
.classNews,
.classNews,
.classEntertainment,
.classSports {
  border-bottom: 3px solid $twitterColor;
  border-radius: 3px;
}

.cont {
  border-left: #ebebeb 1px solid;
  border-right: #ebebeb 1px solid;
  border-bottom: #ebebeb 1px solid;
}
@media only screen and (max-width: 575px) {
  .container {
    img {
      display: block;
    }
  }
}
