.bottomnavcontainer {
  width: 100%;
}

.chats {
  margin-bottom: 10px;
  &:hover {
    background-color: rgb(243, 243, 243);
  }
}

a {
  text-decoration: none;
}

.active {
  border-right: 3px solid #1da1f2;
}

.bottomnavbar {
  margin: 0;
  width: 100%;
  background-color: white;
}
.tweetcircle {
  margin-left: 6px;
  margin-top: 12px;
  width: 55px;
  height: 55px;
  padding: 16px;
  background-color: #1da1f2;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 60px;
}

.tweeticon {
  fill: white;
}

.nav-icon {
  margin-left: 15px;
  margin-right: 15px;
  width: 24px;
  height: 24px;
}

@media only screen and (max-width: 375px) {
  .chats {
    margin-bottom: 20px;
  }
}
