$hoverColor: #ededed;
$twitterColor: #00acee;

.margin {
  padding-left: 5px;
  padding-right: 5px;
  // .nav-item {
  //   padding-top: 0%;
  //   padding-bottom: 0%;
  // }
}

.flex {
  display: flex;
}

ul {
  margin-left: -3%;
  margin-right: -3%;
  display: grid;
  grid-template-columns: 50% 50%;
}
.headerText {
  font-size: 20px;
  font-weight: 600;
  margin-left: 20px;
}

.icon {
  text-align: center;
}

li {
  font-size: large;
}

li a {
  color: black;
}

.margin {
  padding-top: 15px;
  width: 100%;
}

li .nav-item a:hover {
  background-color: gray;
}

.color {
  padding: 15px;
}

.color:hover {
  background-color: $hoverColor;
}

.classStatus {
  border-bottom-color: $twitterColor;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-radius: 3px;
}

.classMention {
  border-bottom-color: $twitterColor;
  border-bottom-style: solid;
  border-bottom-width: 4px;
  border-radius: 3px;
}
