<div class="container-fluid">

  <div class="margin sticky-top" style="background-color: white; padding-bottom: 0%;">
    <div class="d-flex">
      <h1 class="headerText col-10">Notifications</h1>
      <i class="fa fa-cog fa-2x icon col-1" aria-hidden="true"></i>
    </div>
    <div style="margin-top: 5px;">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item color" >
          <a class="nav-link" aria-current="page" (click)="allstate()" ><span [ngClass]="{classStatus}">All</span><span></span></a>
        </li>
        <li class="nav-item color" >
          <a class="nav-link" (click)="mentionstate()"><span [ngClass]="{classMention}">Mentions</span></a>
        </li>
      </ul>
    </div>
  </div>

  <div *ngIf=" active === 'all' ">
    <app-notification-all></app-notification-all>
  </div>
  <div *ngIf=" active === 'mention' ">
    <app-notification-mention></app-notification-mention>
  </div>

</div>