@font-face {
    font-family: Chirp;
    src: url('https://res.cloudinary.com/dfep0loer/raw/upload/v1648210076/chirp-bold-web_puxmod.woff');
}

.container-fluid{
    background-color: #999999;
    height: 100%;
}

.login-container {
	height: 100vh;
	width: 100%;
    border-radius: 20px;
}

.login-form {
	margin: auto;
	width: 560px;
	background-color: #fff;
	padding: 20px;
	max-width: 100%;
	border-radius: .5rem;
}


.card-header{
    background-color: white;
    border: none;
}

.twitter-icon{
    width: 36px;
    height: 36px;
}
.twitter-icon-sm{
    width: 28px;
    height: 28px;
}

.btn{
    border-radius: 20px;
    border: rgb(194, 194, 194) 1px solid;
}

.btn-next{
    background-color: #000000;
    color: white;
    font-family: Chirp;
    padding: .5rem 14.5rem .5rem 14.5rem;
}
.btn-next-sm{
    background-color: #000000;
    color: white;
    font-family: Chirp;
    padding: .5rem 8.5rem .5rem 8.5rem;
}

.btn-next:hover{
    color: white;
    background-color: #333333;
}

.btn-next:disabled{
    background-color: #878A8C;
}

.close-icon{
    transform: translateX(-260px);
    width: 20px;
    height: 20px;
}

.close-icon-sm{
    transform: translateX(-700%);
    width: 14px;
    height: 14px;
}

.title-font{
    font-family: Chirp;
    line-height: 3rem;
    font-weight: 900;
    font-size: 2rem;
}
.title-font-sm{
    font-family: Chirp;
    line-height: 3rem;
    font-weight: 900;
    font-size: 1.6rem;
}

.title-sm{
    padding-top: .6rem;
    padding-left: 2.4rem;
}

.spacer{
    padding:0rem 15rem 3rem 15rem;
}

.spacer-sm{
    padding:0rem 4rem 1rem 4rem;
}

.card{
    border-radius: 20px;
}


a{
    color: #1D9BF0;
}

.fp{
    text-decoration: none;
    color: #1D9BF0;
}


.disabled-form{
    color: #999999;
}


.ip:focus{
    border: #1D9BF0 solid 2px;
    box-shadow: none;
}

 .sp {
        float: right;
        margin-right: 8px;
        margin-top: -34px;
        position: relative;
        z-index: 2;
    }