<div class="container-fluid d-sm-none d-none d-md-block">
    <div class="d-flex justify-content-center align-items-center login-container  ">
            <div class="card p-3">

                <div class="card-header text-center ">
                <a type="button" (click)="goBack()" class="btn-close close-icon"></a>
                    <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648205885/twitter_ykbgdx.png"
                        class="img-fluid twitter-icon" srcset="">

                </div>
                <div class="card-body ">

                    <div class="">
                        <div class="title ps-3">
                            <h1 class="title-font">Enter your password</h1>
                        </div>
                    </div>
                    <div class="">
                        <form class="login-form" #theForm="ngForm">
                            <div class="mb-3">
                                <label class="form-label">Username</label>
                                <input type="text" required [class.is-invalid]="username.invalid" class="form-control p-3 disabled-form" id="plc" disabled placeholder="Phoebe" [(ngModel)]="userModel.username" #username="ngModel" name="username" id="username" >
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Password</label>
                                <input type="password" required [(ngModel)]="userModel.password" #password="ngModel" name="password" id="password" class="form-control p-3 ip">
                                <span class="fa fa-eye sp"></span>
                                <div class="form-text"><a class="fp">Forgot Password?</a></div>
                            </div>

                            <div class="text-center" style="padding-top: 8rem;">
                                <button type="button" [disabled]="theForm.form.invalid" routerLink="/home" class="btn btn-next">Log in</button>
                            </div>
                            <div class="pt-4">
                                <h3 class="chrip">Don't have an account? <a href="">Signup</a> </h3>
                            </div>
                        </form>
                    
                    </div>

                    

                </div>
            </div>


        </div>
    </div>


<div class="container-fluid  d-md-none d-sm-block d-block" style="background-color: white;">
    <div class="d-flex justify-content-center">
        <div class="p-3">
        <a type="button" (click)="goBack()" class="btn-close close-icon-sm"></a>
            <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648205885/twitter_ykbgdx.png"
                class="img-fluid twitter-icon-sm" srcset="">
        </div>
    </div>
    <div class="row">
        <div class="title-sm">
            <h1 class="title-font-sm">Enter your password</h1>
        </div>
    </div>
    <div class="row">
        <form class="p-4">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" required [class.is-invalid]="username.invalid" class="form-control p-3 disabled-form" id="plc"
                    disabled placeholder="Phoebe" [(ngModel)]="userModel.username" #username="ngModel" name="username"
                    id="username">
                
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" required [(ngModel)]="userModel.password" #password="ngModel" name="password" id="password"
                    class="form-control p-3 ip">
                <span class="fa fa-eye sp"></span>
                <div class="form-text"><a class="fp">Forgot Password?</a></div>
                <div class="text-center" style="padding-top: 8rem;">
                    <button type="button" [disabled]="theForm.form.invalid" routerLink="/home" class="btn btn-next-sm">Log in</button>
                </div>
                <div class="pt-4">
                    <h3 class="chrip">Don't have an account? <a href="">Signup</a> </h3>
                </div>
            </div>
        </form>

    </div>

</div>

