//Font Faces
@font-face {
    font-family: Chirp;
    src: url('https://res.cloudinary.com/dfep0loer/raw/upload/v1648210076/chirp-bold-web_puxmod.woff');
}
@font-face {
    font-family: Apple;
    src: url('https://res.cloudinary.com/dfep0loer/raw/upload/v1648211001/WarowniaBlk_v30r3x.otf');
}
@font-face {
    font-family: Google;
    src: url('https://res.cloudinary.com/dfep0loer/raw/upload/v1648209669/product-sans-regular_thl5iu.ttf');
}


//General
html, body {
    margin: 0;
    padding: 0;
}


//col-7
.img-twitter{
    height: 750px;
    margin-left: -12px;
}


.zero-pad{
    padding: 0;

}

//col-5
//Twitter Icon Div
.twitter-icon{
    width: 44px;
    height: 44px;
}

.icon-div{
    padding:1.6rem;
}
.icon-div-sm{
    padding:1.6rem;
    padding-bottom: 1rem;
}

//Title-Subtitle
//Title
.title{
    padding:1.6rem;
    padding-top: 3.5rem;
    
}

.title-sm{
    padding:1.6rem;
    padding-bottom: 1rem;
    padding-top: 1.7rem;
    
}

.title-font{
    font-family: Chirp;
    line-height: 3rem;
    font-weight: 900;
    font-size: 4rem;
}

.title-font-sm{
    font-family: Chirp;
    line-height: 4rem;
    font-weight: 900;
    font-size: 2.8rem;
}

//Subtitle
.sub-title{
    padding:1.6rem;
}
.sub-title-sm{
    padding:1.6rem;
    padding-top: .5rem;
}

.sub-title-font{
    font-family: Chirp;
    line-height: 3rem;
    font-weight: 900;
    font-size: 2.5rem;
}

.sub-title-font-sm{
    font-family: Chirp;
    font-weight: 900;
    font-size: 1.7rem;
}

.apple-google{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

.apple,.google{
    padding: .5rem;
}

.blue-btn{
    padding: .5rem;
    padding-top: 0rem;
}

.btn{
    border-radius: 20px;
    border: rgb(194, 194, 194) 1px solid;
}

.btn-google{
    font-family: Google;
    padding: .3rem 3.3rem .3rem 3.3rem;
}

.btn-apple{
    font-family: Apple;
    padding: .3rem 3.4rem .3rem 3.4rem;
}

.btn-apple:hover,.btn-google:hover{
    background-color: #E6E6E6;
}

.btn-img{
    width: 18px;
    height: 18px;
    margin-bottom: 4.5px;
    margin-right: 5px;
}

.or{
    padding-left: 8.5rem;
    padding-right: 8.5rem;
}

.btn-blue{
    font-family: Chirp;
    border: none;
    padding: .3rem 1.85rem .3rem 1.85rem;
    background-color: #03a9f4;
    color: white;
}

.btn-blue:hover{
    background-color: #017eb8;
}

.tc{
    font-size: 10px;
    padding: 0;
    margin: 0;
    line-height: 12px;
}

.already-div{
    padding:1.6rem;
    padding-top: 3rem;
}

.already-div-sm{
    padding:1.6rem;
    padding-top: 1.8rem;
}

.already-font{
    font-family: Chirp;
}

.btn-sign{
    font-family: Chirp;
    border: none;
    padding: .3rem 7rem .3rem 7rem;
    background-color: white;
    border: #03a9f4 solid 1px;
    color: #03a9f4;
}

.btn-sign:hover{
     background-color: #b3e4fa;
}

.twittericon{
    fill:#1da1f2;
}
.top{
    display: flex;
    padding: 12px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.twitter{
    width: 24px;
    height:24px;
}
.twitterlogo:hover{
    border-radius: 50%;
    background-color: #c3e4f8;
    cursor: pointer;
}
.nameinput{
    border-radius: 6px;
    width:100%;
    padding: 12px;
    border: 1px solid silver;
    margin: 5px;
    margin-bottom: 15px;
}
.nameinput:focus,.nameinput:hover{
      outline: none;
      border-color:#1da1f2;
      box-shadow: 0 0 0 1px #37a8ee;
}
.nameinput::placeholder{
    color: rgb(87, 87, 87);
}
small{
    color:#37a8ee;
    cursor: pointer;
    margin: 7px;
}
.h2{
    font-size: x-large;
}
.dobtitle{
    font-size: 16px;
    font-weight: 600;
    margin:6px;
    margin-top: 35px;
    margin-bottom: 0px;

}
.dobconfirm{
    margin: 6px;
    margin-top: 0px;
    font-size: small;
    color: rgb(87, 87, 87);
}

select{
    padding: 15px;
    margin:4px;
    border-radius: 7px;
}
select:focus{
    outline: none;
    border-color:#1da1f2;
    box-shadow: 0 0 0 1px #37a8ee;
}
.next{
    width:96%;
    padding: 12px;
    border-radius: 30px;
    font-size: larger;
    font-weight: 550;
    border: none;
    background-color: gray;
    color:white;
}
.next:hover{
    background-color: black;
}
.bluehighlight{
    color: #1da1f2;
}
.agreement{
    margin-top: 35px;
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 65vh;
    overflow-y: auto;
}
.ip:focus::placeholder {
    color: #1D9BF0;
    font-size: 13px;
    transform: translateY(-16px);
  }
  .sp {
    float: right;
    margin-right: 8px;
    margin-top: -34px;
    position: relative;
    z-index: 2;
}

select{
    border: 1px solid silver;
}
  .ip:focus{
      border: #1D9BF0 solid 2px;
      box-shadow: none;
  }
  .red{
      color:red;
  }