$hoverColor: #ededed;
$twitterColor: #00acee;

.rectangle {
  width: 100%;
  height: 160px;
  background-image: url("https://images.unsplash.com/photo-1586672806791-3a67d24186c0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y292ZXIlMjBhcnR8ZW58MHx8MHx8&w=1000&q=80");
}

.profilepic {
  margin-top: -80px;
  margin-left: 15px;
}

.name {
  font-size: x-large;
}

.flex {
  display: flex;
}

button {
  height: 35px;
  width: 130px;
  margin-top: 70px;
  border-radius: 20px;
  border: 1px solid #ededed;
  font-size: medium;
  font-weight: 450;
  background-color: white;
}

button:hover {
  background-color: #ededed;
}

.classTweet {
  border-bottom-color: $twitterColor;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-radius: 3px;
  a span {
    color: black;
  }
}
.classTweet:hover {
  background-color: $hoverColor;
}
.classMedia {
  border-bottom-color: $twitterColor;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-radius: 3px;
  a span {
    color: black;
  }
}

.classMedia:hover {
  background-color: $hoverColor;
}
.classLikes {
  border-bottom-color: $twitterColor;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-radius: 3px;
  a span {
    color: black;
  }
}

.classLikes:hover {
  background-color: $hoverColor;
}

.classReply {
  border-bottom-color: $twitterColor;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-radius: 3px;
  a span {
    color: black;
  }
}

.classReply:hover {
  background-color: $hoverColor;
}

.links {
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .reply {
    display: flex;
    a {
      margin-bottom: 15px;
      padding: 0%;
      padding-right: 5px;
    }
  }
  a {
    font-size: 1rem;
    text-decoration: none;
    color: grey;
    margin-bottom: 10px;
  }
}

.color {
  padding: 5px;
}

.color:hover {
  background-color: $hoverColor;
}

.img-circle {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

@media only screen and (max-width: 500px) {
  .profilepic {
    img {
      margin-top: 5px;
      height: 100px;
      width: 100px;
    }
  }
}
