<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="twitter-bird-animation"></div>
            <div class="loading">
                <span class="text">Loading</span>
                <span class="blob1 blob"></span>
                <span class="blob2 blob"></span>
                <span class="blob3 blob"></span>
            </div>
            <br>
            <div class="back">
                <a>Wrong URL : </a>
                <a class="text-danger" href="">Back to Site</a>
            </div>
        </div>
    </div>
</div>