<div class="container">
    <div class="heading">
        <img [routerLink]="['/profile']"
            src="https://i.pinimg.com/236x/9a/2b/ea/9a2bea6795661d05cb017f026827751e.jpg"
            alt="">
        <p>Messages</p>
    </div>
    <div class="icons">
        <div class="icon-setting">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </div>
        <div class="icon-message">
            <i class="fa fa-envelope-o" data-bs-toggle="modal" data-bs-target="#exampleModal" aria-hidden="true"></i>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="model-heading">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h2>New Message</h2>
                </div>
                <button type="button" class="next">Next</button>
            </div>
            <div class="modal-body">
                <div class="search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="search" name="search" id="search" placeholder="Search people">
                </div>
            </div>
            <hr>
            <div class="modal-footer">
                <div class="create-group">
                    <div class="group-icon">
                        <i class="fa fa-users" aria-hidden="true"></i>
                    </div>
                    <div class="group-content">
                        <p>Create a group</p>
                    </div>
                </div>
            </div>
            <hr><br>
        </div>
    </div>
</div>