/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Chirp;
  src: url("https://res.cloudinary.com/dfep0loer/raw/upload/v1648706007/chirp-regular-web_gggmeq.woff");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Chirp !important;
}
