<div class="container-fluid ">
    <div class="row">
        <div class="carousel-item active">
            <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648554519/ukraine_wby9nq.jpg"
                class="d-block w-100" alt="...">
            <div class="carousel-caption text-start d-none d-md-block">
                <h1>Peace talks with Russia set to begin on Tuesday as the war continues in Ukraine</h1>
            </div>
        </div>
    </div>
    <div class="row ps">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>Trending in Politics</small>
                        <p class="wh-p">İstanbul</p>
                        <small>116K Tweets</small>
                    </div>
                    <div class="col-3">
                       
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>Trending in Politics</small>
                        <p class="wh-p">The Queen</p>
                        <small>110K Tweets</small>
                    </div>
                    <div class="col-3">
                       
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>Trending</small>
                        <p class="wh-p">#WeAreNATO</p>
                        <small>1,844 Tweets</small>
                    </div>
                    <div class="col-3">
                        
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>Business & finance · Trending</small>
                        <p class="wh-p">#Sensex</p>
                        <small>1,021 Tweets</small>
                    </div>
                    <div class="col-3">
                        
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <div class="row">
                    <div class="col-9">
                        <small>Trending</small>
                        <p class="wh-p">Nigeria</p>
                        <small>229K Tweets</small>
                    </div>
                    <div class="col-3">
                        
                    </div>
                </div>
            </a>
            <a href="#" class="list-group-item list-group-item-action wh-items">
                <a href="" class="wh-link">Show More</a>
            </a>
        </div>
    </div>
</div>

