<div class="container-fluid m-3">
    <div class="search mb-5 sticky-top">
        <form>
            <div class="input-group">
                <span class="input-group-text search-icon"> <i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control search-bar" placeholder="Search Twitter" aria-label="Username"
                    aria-describedby="basic-addon1">
            </div>
        </form>
    </div>
    <div class="happening">
        <div class="outer-group list-group">
            <li class="list-group-item wh-header">What's Happening</li>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action wh-items">
                    <div class="row">
                        <div class="col-8">
                            <small>War in Ukraine · War</small>
                            <p class="wh-p">War in Ukraine continues as Russia strikes besieged city of Mariupol</p>
                        </div>
                        <div class="col-4">
                            <img src="https://pbs.twimg.com/semantic_core_img/1506592811986026500/wsJv_tHK?format=jpg&name=900x900"
                                class="img-fluid wh-image">
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wh-items">
                    <div class="row">
                        <div class="col-8">
                            <small>Entertainment · Trending</small>
                            <p class="wh-p">Massive action feast - #KamalHaasan, #FahadhFaasil & #VijaySethupathi  #Vikram by #LokeshKanagaraj arrives on June 3💥</p>
                        </div>
                        <div class="col-4">
                            <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648657406/vikram_i5zahb.jpg"
                                class="img-fluid wh-image">
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wh-items">
                    <div class="row">
                        <div class="col-8">
                            <small>India national news · News</small>
                            <p class="wh-p">Petrol price up by 80 paise a litre on eighth day of increase in fuel prices</p>
                        </div>
                        <div class="col-4">
                            <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648658225/petrol_e3c6ze.jpg"
                                class="img-fluid wh-image">
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wh-items">
                    <div class="row">
                        <div class="col-8">
                            <small>Sports · Trending</small>
                            <p class="wh-p">#CSK Super Birthday to the powerhouse of entertainment! Have a great one, Parashakthi
                                Express! 💛</p>
                        </div>
                        <div class="col-4">
                            <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648658315/tahir_pujskb.jpg"
                                class="img-fluid wh-image">
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wh-items">
                    <div class="row">
                        <div class="col-8">
                            <small>Entertainment · Trending </small>
                            <p class="wh-p">The trailer of Beast will release on April 2. Directed by Nelson Rajkumar, Vijay's Beast
                                is
                                all set to release on April 13.</p>
                        </div>
                        <div class="col-4">
                            <img src="https://res.cloudinary.com/dfep0loer/image/upload/v1648658425/beast_bflwnb.jpg"
                                class="img-fluid wh-image">
                        </div>
                    </div>
                </a>
               
            
                <a href="#" class="list-group-item list-group-item-action wh-items">
                    <a href="" class="wh-link">Show More</a>
                </a>
            </div>
        </div>

    </div>

    <div class="who-to-follow mt-4">
        <div class="outer-group list-group">
            <li class="list-group-item wh-header">Who to follow</li>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action wf-items">
                    <div class="row wf-spacing">
                        <div class="col-3 wf-spacing">
                            <img src="https://pbs.twimg.com/profile_images/1282261059294818306/huA7biUe_400x400.jpg"
                                class="img-fluid profile" alt="...">
                        </div>
                        <div class="col-6 wf-spacing">
                            <div class="wf-centering">
                           <div> <a href="" class="profile-name">VjSethupathi</a> <span class=""><img
                                    src="https://res.cloudinary.com/dfep0loer/image/upload/v1648102707/CineFlix/twitter-tick_hie3ao.png"
                                    class="tick"></span></div>
                            <p class="profile-subname">@VijaySethuOffl</p>
                        </div>
                        </div>
                        <div class="col-3 wf-spacing">
                            <button type="button" class="btn btn-dark follow-btn">Follow</button>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wf-items">
                    <div class="row wf-spacing">
                        <div class="col-3 wf-spacing">
                            <img src="https://pbs.twimg.com/profile_images/1354379504920256513/4Ox0Xqft_400x400.jpg"
                                class="img-fluid profile" alt="...">
                        </div>
                        <div class="col-6 wf-spacing">
                            <div class="wf-centering">
                           <div> <a href="" class="profile-name">Nothing</a> <span class=""><img
                                    src="https://res.cloudinary.com/dfep0loer/image/upload/v1648102707/CineFlix/twitter-tick_hie3ao.png"
                                    class="tick"></span></div>
                            <p class="profile-subname">@Nothing</p>
                        </div>
                        </div>
                        <div class="col-3 wf-spacing">
                            <button type="button" class="btn btn-dark follow-btn">Follow</button>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wf-items">
                    <div class="row wf-spacing">
                        <div class="col-3 wf-spacing">
                            <img src="https://pbs.twimg.com/profile_images/1484730156765876231/9zL4dTcr_400x400.jpg"
                                class="img-fluid profile" alt="...">
                        </div>
                        <div class="col-6 wf-spacing">
                            <div class="wf-centering">
                           <div> <a href="" class="profile-name">Carl pei</a> <span class=""><img
                                    src="https://res.cloudinary.com/dfep0loer/image/upload/v1648102707/CineFlix/twitter-tick_hie3ao.png"
                                    class="tick"></span></div>
                            <p class="profile-subname">@getpeid</p>
                        </div>
                        </div>
                        <div class="col-3 wf-spacing">
                            <button type="button" class="btn btn-dark follow-btn">Follow</button>
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item list-group-item-action wf-items">
                    <div class="row wf-spacing">
                        <div class="col-3 wf-spacing">
                            <img src="https://pbs.twimg.com/profile_images/1283958620359516160/p7zz5dxZ_400x400.jpg"
                                class="img-fluid profile" alt="...">
                        </div>
                        <div class="col-6 wf-spacing">
                            <div class="wf-centering">
                           <div> <a href="" class="profile-name">Apple</a> <span class=""><img
                                    src="https://res.cloudinary.com/dfep0loer/image/upload/v1648102707/CineFlix/twitter-tick_hie3ao.png"
                                    class="tick"></span></div>
                            <p class="profile-subname">@Apple</p>
                        </div>
                        </div>
                        <div class="col-3 wf-spacing">
                            <button type="button" class="btn btn-dark follow-btn">Follow</button>
                        </div>
                    </div>
                </a>




            </div>
        </div>
    </div>
<div class="footer">
    <pre class="grey">
<a href="" class="grey">Terms of Service</a><a href="" class="grey"> Privacy Policy</a>  
<a href="" class="grey">Cookie</a><a href="" class="grey"> Policy</a> <a href="" class="grey"> Ads info</a>
<a href="" class="grey">More</a> ... © 2022 Twitter, Inc.
    </pre>
</div>

</div>