<div >


   <div class="row margin">

      <div class="col-lg-2 col-md-2 col-2 px-1 extra-icon">
         <i class="fa fa-user fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-lg-10 col-md-10 col-10 extra-image">
         <img class="img-circle" src="https://pbs.twimg.com/profile_images/730141385869811712/tRPEtG7f_400x400.jpg"
            alt="pic" width=40px height="40px"><br><br>
         <p class="fontsize"><b>Sheldon Cooper</b> <span class="text"> followed you. </span></p>
      </div>
   </div>

   <div class="row margin">
      <div class="col-lg-2 col-md-2 col-2 px-1 extra-icon">
         <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-lg-10 col-md-10 col-10 extra-image">
         <p class="fontsize text">There was a login to your account @Lilly_07_ from a new device on Mar 23, 2022. Review
            it now.</p>
      </div>
   </div>

   <div class="row margin">
      <div class="col-lg-2 col-md-2 col-2 px-1 extra-icon">
         <i class="fa fa-heart fa-2x" aria-hidden="true"></i>
      </div>
      <div class="col-lg-10 col-md-10 col-10 extra-image ">
         <img
            src="https://e7.pngegg.com/pngimages/240/676/png-clipart-ross-geller-david-schwimmer-friends-chandler-bing-joey-tribbiani-friends-love-television-thumbnail.png"
            class="img-circle" alt="pic" width=40px height="40px">
         <p class="fontsize text">
         <p class="fontsize"><b>ross_geller</b> liked a Tweet you were mentioned in</p><br>
         <p style="margin-top: -25px; font-size: 14.5px;" class="text">Former President Donald Trump has withdrawn his
            endorsement of Mo Brooks for the US Senate seat in Alabama after Brooks declined to affirm Trump's false
            belief that the 2020 election result can be overturned.</p>
         <p style=" font-size: 14.5px; color: #00acee;"> @Lilly_01_<br>
            @president<br>
            @USA</p>

      </div>
   </div>
   <div class="row margin">
      <div class="col-lg-2 col-md-2 col-2 px-1 extra-icon" style="margin-left:-10px">
         <img
            src="https://i.pinimg.com/236x/9a/2b/ea/9a2bea6795661d05cb017f026827751e.jpg"
            class="img-circle" alt="pic" width=50px height="50px">
      </div>
      <div class="col-10 extra-image" style="margin-left:9px">
         <p class="fontsize"><b>Phoebe Buffay</b> <span class="text">@phoebe_crapbag 2h</span></p><br>
         <p style="margin-top: -25px; font-size: 15px;" class="text">
            If You Want To Receive Emails About My Upcoming Shows, Then Please Give Me Money So I Can Buy A Computer.
         </p>
         <p style=" font-size: 14.5px; color: #00acee;"> @friends<br>
           @phoebe_crapbag<br>
           @Usa</p>
       </div>
   </div>
</div>